.custom-scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, 20px);
    }
    10% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    90% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -20px);
    }
}

.toast-copy {
    animation: fadeInOut 2s ease-in-out forwards;
}

/* Timeline Styles Specific */
.timeline-line::before {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 20px;
    width: 2px;
    background: linear-gradient(to bottom, #e2e8f0 50%, transparent 100%);
    z-index: 0;
}

/* Signature Canvas */
canvas {
    touch-action: none;
}
